hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

/* Python syntax highlighting */
.language-python .hljs-comment {
  color: #808080 !important;
}

.language-python .hljs-variable {
  color: #8fad8a !important;
}

.language-python .hljs-property {
  color: #8fad8a !important;
}

.language-python .hljs-keyword {
  color: #ec6a65 !important;
}

.language-python .hljs-literal {
  color: #cc8bad !important;
}

.language-python .hljs-type {
  color: #fab92e !important;
}

.language-python .hljs-operator {
  color: #ebdbb2 !important;
}

.language-python .hljs-punctuation {
  color: #fe7c19 !important;
}

.language-python .hljs-built_in {
  color: #fe7c19 !important;
}